body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  text-align: center;
  color: white;
  position: relative;
}

/* src/components/WelcomeScreen.css */
.welcome-container {
  background: url('assets/background.png') no-repeat center center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  text-align: center;
  color: white;
  position: relative;             /* so your .overlay can absolutely cover */
}

/* .welcome-container .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  inset: 0;
  z-index: -1;
} */

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  inset: 0;
  z-index: -1;
}

.logo {
  width: 300px;
  height: 300px;
  border-radius: 500px;
  object-fit: contain;
  margin-bottom: 20px;
}

.text-highlight-yellow {
  color: #f1c40f;
  font-weight: bold;
  font-family: ADLaM Display;
  font-size: 2rem;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 0 2px 0 #000, 0 -2px 0 #000, -2px 0 0 #000, 2px 0 0 #000;
  margin-bottom: 0px;
}

.text-highlight-white {
  color: #ffffff;
  font-weight: bold;
  font-family: ADLaM Display;
  font-size: 2rem;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 0 2px 0 #000, 0 -2px 0 #000, -2px 0 0 #000, 2px 0 0 #000;
}

.text-highlight-green {
  color: #30c22b;
  font-weight: bold;
  font-family: ADLaM Display;
  font-size: 2rem;
  margin-top: 150px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 0 2px 0 #000, 0 -2px 0 #000, -2px 0 0 #000, 2px 0 0 #000;
}

button {
  background-color: #f1c40f;
  border: none;
  color: black;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 20px;
}

.role-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.role-card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 12px;
  color: white;
  text-align: center;
}

@media (min-width: 768px) {
  .container {
    max-width: 500px;
    margin: auto;
  }
}
